body {
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    padding-top: 60px;
}



.nav {
    background: #000000;
    color: white;
    padding: 14px 20px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    align-items: center;
    gap: 40px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav img {
    height: 100px;
    margin-right: 80px
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.page {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}