body {
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    padding-top: 60px;
}



.nav {
    background: #000;
    color: white;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.post {
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #333;
}

.post h2 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 26px;
    margin-bottom: 8px;
}

.post .date {
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 16px;
}

.nav img {
    height: 100px;
    margin-left: 300px;

}
.nav-links {
    display: flex;
    gap: 80px;  
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.page {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}